<h1 mat-dialog-title>{{data.personName}} Edit</h1>
<mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="Main">
        <span>Fetch Person from Imdb </span>
        <button mat-mini-fab 
            (click)="fetchPerson()"
            title="Fetch from Imdb">
                <mat-icon>get_app</mat-icon>
        </button>
        <button mat-mini-fab
            [title]="'Restore'"
            (click)="restorePerson()">
                <mat-icon>restore</mat-icon>
        </button>
            <mat-spinner *ngIf="loading"></mat-spinner>
                <div class="little-stats">
                    <div id="poster">
                        <img class="profilePicture"
                                [src]="model.profilePicture.image.indexOf('data:image/') !== -1 ? model.profilePicture.image : 'data:image/png;base64,' + model.profilePicture.image" 
                                *ngIf="model.profilePicture" 
                                [title]="model.profilePicture.title"
                                (error)="setDefaultProfilePicture($event)">
                    </div>
                    <div style="margin-left: 20px;">
                        <div id="poster-things">
                            <button mat-mini-fab 
                                (click)="fileInput.click()"
                                title="Choose Poster">
                                    <mat-icon>edit</mat-icon>
                            </button>
                            <input hidden (change)="onFileSelected()" #fileInput type="file" id="file"
                            accept="image/x-png,image/gif,image/jpeg">
                            <mat-form-field appearance="outline">
                                <mat-label>Title</mat-label>
                                <input matInput [(ngModel)]="model.profilePicture.title">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Profile Picutre Imdb Url</mat-label>
                                <input matInput [(ngModel)]="model.profilePicture.imdbPageUrl">
                            </mat-form-field>
                        </div>
                        <div id="name">
                            <mat-form-field appearance="outline">
                                <mat-label>Name</mat-label>
                                <input matInput [(ngModel)]="model.name">
                            </mat-form-field>
                            <mat-form-field style="margin-left: 10px;">
                                <mat-select (selectionChange)="model.name = $event.value ? $event.value : data.personName">
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let altName of alternateNames" 
                                        [value]="altName">
                                        {{altName}}
                                    </mat-option>
                                </mat-select>
                                <mat-label><i>choose from alternate names</i></mat-label>
                            </mat-form-field>
                            <button mat-mini-fab 
                                (click)="openAlternateNamesDialog()"
                                title="Edit Another Names">
                                    <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                        <div id="birthInfo">
                            <mat-form-field appearance="outline">
                                <mat-label>Birth Date</mat-label>
                                <input matInput [matDatepicker]="picker" [(ngModel)]="model.birthDate">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Birth Place</mat-label>
                                <input matInput [(ngModel)]="model.birthPlace">
                            </mat-form-field>
                        </div>
                        <div id="deathInfo">
                            <mat-form-field appearance="outline">
                                <mat-label>Death Date</mat-label>
                                <input matInput [matDatepicker]="picker2" [(ngModel)]="model.deathDate">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Death Place</mat-label>
                                <input matInput [(ngModel)]="model.deathPlace">
                            </mat-form-field>
                        </div>
                        <div id="otherInfo">
                            <mat-form-field appearance="outline">
                                <mat-label>Sex</mat-label>
                                <mat-select [(ngModel)]="model.sex">
                                    <mat-option *ngFor="let gender of genders" 
                                        [value]="gender">
                                        {{gender}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Height in Meters</mat-label>
                                <input matInput type="number" [(ngModel)]="model.heightInMeters">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Imdb Page Url</mat-label>
                                <input matInput [(ngModel)]="model.imdbPageUrl">
                            </mat-form-field>
                        </div>
                    </div>   
                </div>
                <div id="photos">
                    <span>Photos: 
                        <button mat-mini-fab 
                            (click)="openPhotosDialog()"
                            title="Edit Photos">
                                <mat-icon>edit</mat-icon>
                        </button>
                    </span>
                    <div class="person-photos">
                        <div *ngFor="let photo of model.photos" class="person-photo">
                                        <img [src]="'data:image/png;base64,' + photo.image" 
                                        [title]="photo.title"
                                        style="max-width: 200px;">
                        </div>
                    </div>   
                </div>
                <div id="biography">
                    <mat-form-field class="biography" appearance="outline">
                        <mat-label>Biography</mat-label>
                        <textarea rows="8" matInput [(ngModel)]="model.biographyString"></textarea>
                    </mat-form-field>
                </div>
                <div id="awardsInfoString">
                    <mat-form-field class="awardsInfoString" appearance="outline">
                        <mat-label>Awards Information</mat-label>
                        <input matInput [(ngModel)]="model.awardsInformationString">
                    </mat-form-field>
                </div>
                <div id="otherWork">
                    <mat-form-field class="otherWork" appearance="outline">
                        <mat-label>Other Work</mat-label>
                        <input matInput [(ngModel)]="model.otherWork">
                    </mat-form-field>
                </div>
        </mat-tab>
        <mat-tab label="Filmography">
            <button mat-mini-fab
                [title]="'Add new Filmography'"
                (click)="openFilmographyDialog()">
                    <mat-icon>add</mat-icon>
            </button>
            <button mat-mini-fab
                [title]="'Reset Filmographies'"
                (click)="resetFilmography()">
                    <mat-icon>restore</mat-icon>
            </button>
            <div *ngIf="groupedFilmography; else loadingSpinner" style="margin-top: 25px;">
                <div *ngFor="let grFilm of groupedFilmography | keyvalue">
                        <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{grFilm.key}}</mat-panel-title>
                            <mat-panel-description>{{grFilm.value.length}} Films</mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-grid-list cols="6" rowHeight="1:2" gutterSize="10px">
                            <mat-grid-tile *ngFor="let filmography of grFilm.value; let i = index">
                            <mat-grid-tile-header>
                                <button mat-mini-fab 
                                    (click)="openEditFilmographyDialog(i, filmography)"
                                    [title]="'Edit '+filmography.filmItem?.name">
                                        <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-mini-fab
                                [title]="'Remove '+filmography.filmItem?.name"
                                (click)="removeFilmography(grFilm.key, filmography)">
                                    <mat-icon>remove</mat-icon>
                                </button>
                            </mat-grid-tile-header>
                                <a [routerLink]="filmography.filmItem?.id ? ['/film', filmography.filmItem?.id] : []">
                                    <img class="filmography-image"
                                        [src]="'data:image/png;base64,' + filmography.filmItem?.photo?.image" 
                                        [title]="filmography.filmItem?.name"
                                        onerror="this.src='assets/DefaultMovie.png'">
                                </a>
                                <mat-grid-tile-footer style="display: block; height: 70px">
                                    <span>{{filmography.filmItem?.name}} ({{filmography.year}})</span>
                                    <hr>
                                     <div *ngIf="filmography.characters?.length != 0; else description">
                                         <div *ngFor="let character of filmography.characters">
                                            <div *ngIf="character.imdbPageUrl; else justCharName">
                                                <a  target="_blank" 
                                                href="{{character.imdbPageUrl}}">
                                                    {{character.name}}
                                                </a>
                                            </div>
                                            <ng-template #justCharName>
                                                <mat-label *ngFor="let character of filmography.characters">{{character.name}}</mat-label>
                                            </ng-template>
                                        </div>
                                     </div> 
                                    <ng-template #description>
                                        <span>{{filmography.description}}</span>
                                    </ng-template>
                                </mat-grid-tile-footer>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-expansion-panel>
                </div>
            </div>
            <ng-template #loadingSpinner>
                <mat-spinner #loadingSpinner></mat-spinner>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCloseClick()">Close</button>
  <button mat-button (click)="onSaveClick()" cdkFocusInitial>Save</button>
</mat-dialog-actions>