.profilePicture {
    max-width: 200px;
}

.biography {
    width: 80%;
}

.awardsInfoString {
    width: 80%;
}

.otherWork {
    width: 80%;
}

.little-stats {
    display: flex;
}

.person-photos {
  display: flex;
}

.person-photo {
  margin-right: 5px;
}

.filmography {
  display: flex;
}

.filmography-image {
  width: 140px;
  height: 180px;
  margin: 5px 0px;
}