<h1 mat-dialog-title>{{data.filmName}} Cast and Crew</h1>
<mat-dialog-content>
       <mat-tab-group>
           <mat-tab label="Cast">
               <div *ngIf="data.editMode" >
                Add New Cast Member
                                <button mat-mini-fab
                                title="Add New Cast (opens new dialog)"
                                (click)="onClickAddCastMember()">
                                    <mat-icon>add</mat-icon>
                                </button>
                    </div>

                <div *ngIf="cast; else loading" style="margin-top: 25px;" >
                    <mat-grid-list cols="6" rowHeight="1:2" gutterSize="10px" cdkDropListGroup >
                        <mat-grid-tile class="cast-tile" [ngStyle]="{'cursor': data.editMode ? 'move' : 'pointer'}"
                            *ngFor="let castMember of cast; let i = index" cdkDropList cdkDropListOrientation="horizontal" 
                            [cdkDropListData]="{item:castMember,index:i}"
                            (cdkDropListDropped)="drop($event)" >
                              <div cdkDrag [cdkDragDisabled]="!data.editMode">
                                <mat-grid-tile-header *ngIf="data.editMode">
                                    <button mat-mini-fab
                                    [title]="'Edit '+castMember.name"
                                    (click)="editCastMember(castMember)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-mini-fab
                                    [title]="'Remove '+castMember.name"
                                    (click)="removeCastMember(castMember)">
                                        <mat-icon>remove</mat-icon>
                                    </button>
                                </mat-grid-tile-header>
                                <img 
                                [src]="'data:image/png;base64,' + castMember.profilePicture?.image" 
                                [title]="castMember.name"
                                (click)="onClickCastMember(castMember)"
                                (error)="setDefaultProfilePicture($event, castMember)">
                                <mat-grid-tile-footer style="display: block; height: 70px">
                                    <span>{{castMember.name}}</span>
                                    <hr>
                                    <div *ngFor="let character of castMember.characters">
                                        <a *ngIf="character.imdbPageUrl; else chOnlyName" target="_blank" href="{{character.imdbPageUrl}}">
                                            {{character?.name}}
                                        </a>
                                        <ng-template #chOnlyName>{{character?.name}}
                                            <p *ngIf="character.description"> ({{character.description}})</p>
                                        </ng-template>
                                    </div>
                                </mat-grid-tile-footer>
                        </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
                <ng-template #loading>
                    <mat-spinner #loading></mat-spinner>
                </ng-template>
           </mat-tab>
           <mat-tab label="Crew">
                <div *ngIf="groupedCrew; else loading" style="margin-top: 25px;">
                    <div *ngFor="let grCrew of groupedCrew | keyvalue">
                         <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>{{grCrew.key}}</mat-panel-title>
                                <mat-panel-description>{{grCrew.value.length}} Crew Members</mat-panel-description>
                            </mat-expansion-panel-header>
                            <mat-grid-list cols="6" rowHeight="1:2" gutterSize="10px">
                                <mat-grid-tile *ngFor="let crewMember of grCrew.value">
                                <mat-grid-tile-header *ngIf="data.editMode">
                                    <button mat-mini-fab
                                    [title]="'Remove '+crewMember.name"
                                    (click)="removeCrewMember(grCrew.key, crewMember)">
                                        <mat-icon>remove</mat-icon>
                                    </button>
                                </mat-grid-tile-header>
                                   <a target="_blank" 
                                        [href]="crewMember.imdbPageUrl">
                                        <img class="cast-image"
                                        src="assets/DefaultPersonMale.png" 
                                        [title]="crewMember.name">
                                    </a>
                                    <mat-grid-tile-footer style="display: block; height: 70px">
                                        <span>{{crewMember.name}}</span>
                                        <hr>
                                        <span>{{crewMember.description}}</span>
                                    </mat-grid-tile-footer>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </mat-expansion-panel>
                    </div>
                </div>
                <ng-template #loading>
                    <mat-spinner #loading></mat-spinner>
                </ng-template>
           </mat-tab>
       </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCloseClick()">Close</button>
  <button mat-button *ngIf="data.editMode" [mat-dialog-close]="{cast: cast, crew: crew}" cdkFocusInitial>Save</button>
</mat-dialog-actions>