.poster {
    max-width: 200px;
}

.description {
    width: 80%;
}

.awardsInfoString {
    width: 80%;
}

.tagline {
    width: 80%;
}

.little-stats {
    display: flex;
}

.film-photos {
  display: flex;
}

.film-photo {
  margin-right: 5px;
}