table {
    width: 100%;
    text-align: center;
  }

.film-image {
  width: 150px;
  height: 200px;
}

.imdb-logo{
  width: 30px;
  height: 22px;
  margin-right: 10px;
  cursor: pointer;
}

.imdb-rating {
  display: flex;
}

.person-image {
    max-width: 30px;
}