<h1>Films</h1>
<p>Here's a list of Films: feel free to play with it.</p>
<p *ngIf="!films"><em>Loading...</em></p>
<h4>Filter</h4>
<table>
    <tr>
        <td style="width: 200px;">
            <mat-form-field appearance="fill" color="accent">
                <mat-label>Filter</mat-label><br>
                <mat-select [(value)]="selectedFilter" 
                    (selectionChange)="filterChanged($event.value)" panelClass="example-panel-black">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let filter of filterNames" [value]="filter">{{filter}}</mat-option>
                </mat-select>
            </mat-form-field>
        </td>
        <td>
            <form [formGroup]="idFilterForm" (ngSubmit)="addFilter()" *ngIf="selectedFilter == 'Id'">
                <mat-form-field *ngIf="filters.length!=0" appearance="fill" >
                    <mat-label>FilterOperator</mat-label><br>
                    <mat-select formControlName="filterOperator" panelClass="example-panel-black">
                        <mat-option *ngFor="let filterOperator of filterOperators; let i=index" 
                        [value]="i+1">{{filterOperator}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field >
                    <mat-label for="id">Id:</mat-label>
                    <input id="id" formControlName="id" type="number" matInput placeholder="Id Value Here">
                </mat-form-field>
                <button mat-button color="primary" type="submit">Add Filter</button>
            </form>
            <form [formGroup]="nameFilterForm" (ngSubmit)="addFilter()" *ngIf="selectedFilter == 'Name'">
                <mat-form-field *ngIf="filters.length!=0" appearance="fill" >
                    <mat-label>FilterOperator</mat-label><br>
                    <mat-select formControlName="filterOperator" panelClass="example-panel-black">
                        <mat-option *ngFor="let filterOperator of filterOperators; let i=index" 
                        [value]="i+1">{{filterOperator}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field >
                    <mat-label for="value">Exact Name:</mat-label>
                    <input id="value" formControlName="value" matInput>
                </mat-form-field>
                <mat-form-field >
                    <mat-label for="pattern">Name Contains:</mat-label>
                    <input id="pattern" formControlName="pattern" matInput>
                </mat-form-field>
                <button mat-button color="primary" type="submit">Add Filter</button>
            </form>
            <form [formGroup]="favoritePersonsFilterForm" (ngSubmit)="addFilter()" *ngIf="selectedFilter == 'FavPersons'">
                <mat-form-field *ngIf="filters.length!=0" appearance="fill" >
                    <mat-label>FilterOperator</mat-label><br>
                    <mat-select formControlName="filterOperator" panelClass="example-panel-black">
                        <mat-option *ngFor="let filterOperator of filterOperators; let i=index" 
                        [value]="i+1">{{filterOperator}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field >
                    <mat-label>Gender:</mat-label><br>
                    <mat-select formControlName="gender" panelClass="example-panel-black">
                        <mat-option *ngFor="let gender of genders" 
                        [value]="gender">{{gender2StringMapping[gender]}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field >
                    <mat-label>Profession:</mat-label><br>
                    <mat-select formControlName="profession" panelClass="example-panel-black" >
                        <mat-option *ngFor="let profession of professions" 
                        [value]="profession">{{profession2StringMapping[profession]}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-button color="primary" type="submit">Add Filter</button>
            </form>
            <form [formGroup]="watchedFilmsFilterForm" (ngSubmit)="addFilter()" *ngIf="selectedFilter == 'WatchedFilms'">
                <mat-form-field *ngIf="filters.length!=0" appearance="fill" >
                    <mat-label>FilterOperator</mat-label><br>
                    <mat-select formControlName="filterOperator" panelClass="example-panel-black">
                        <mat-option *ngFor="let filterOperator of filterOperators; let i=index" 
                        [value]="i+1">{{filterOperator}}</mat-option>
                    </mat-select>
                </mat-form-field>
                     <mat-checkbox id="value" formControlName="value">Have Watched</mat-checkbox>
                <mat-form-field >
                    <mat-label for="start">My Rating Start:</mat-label>
                    <input id="start" formControlName="start" type="number" matInput placeholder="My Rating Start">
                </mat-form-field>
                <mat-form-field >
                    <mat-label for="end">My Rating End:</mat-label>
                    <input id="end" formControlName="end" type="number" matInput placeholder="My Rating End">
                </mat-form-field>
                <button mat-button color="primary" type="submit">Add Filter</button>
            </form>
            <form [formGroup]="personsListFilterForm" (ngSubmit)="addFilter()" *ngIf="selectedFilter == 'PersonLists'">
                <mat-form-field *ngIf="filters.length!=0" appearance="fill" >
                    <mat-label>FilterOperator</mat-label><br>
                    <mat-select formControlName="filterOperator" panelClass="example-panel-black">
                        <mat-option *ngFor="let filterOperator of filterOperators; let i=index" 
                        [value]="i+1">{{filterOperator}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field >
                    <mat-label>Lists:</mat-label><br>
                    <mat-select formControlName="listId" panelClass="example-panel-black">
                        <mat-option *ngFor="let list of myLists" 
                        [value]="list.id">
                            <img class="person-image"
                            [src]="'data:image/png;base64,' + list?.photo?.image" 
                            [alt]="list?.photo?.title"
                            onerror="this.src='assets/DefaultPersonMale.png'"> {{list.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field >
                    <mat-label>Gender:</mat-label><br>
                    <mat-select formControlName="gender" panelClass="example-panel-black">
                        <mat-option *ngFor="let gender of genders" 
                        [value]="gender">{{gender2StringMapping[gender]}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field >
                    <mat-label>Profession:</mat-label><br>
                    <mat-select formControlName="profession" panelClass="example-panel-black" >
                        <mat-option *ngFor="let profession of professions" 
                        [value]="profession">{{profession2StringMapping[profession]}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-button color="primary" type="submit">Add Filter</button>
            </form>
            <form [formGroup]="genresFilterForm" (ngSubmit)="addFilter()" *ngIf="selectedFilter == 'Genres'">
                <mat-form-field appearance="fill">
                    <mat-label>Genres</mat-label>
                    <mat-select formControlName="genres" panelClass="example-panel-black" multiple>
                        <mat-option *ngFor="let genre of allGenres" [value]="genre">{{genre.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-button color="primary" type="submit">Add Filter</button>
            </form>
            <form [formGroup]="imdbRatingsFilterForm" (ngSubmit)="addFilter()" *ngIf="selectedFilter == 'ImdbRating'">
                <mat-form-field *ngIf="filters.length!=0" appearance="fill" >
                    <mat-label>FilterOperator</mat-label><br>
                    <mat-select formControlName="filterOperator" panelClass="example-panel-black">
                        <mat-option *ngFor="let filterOperator of filterOperators; let i=index" 
                        [value]="i+1">{{filterOperator}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field >
                    <mat-label for="exactValue">Exact Value:</mat-label>
                    <input id="exactValue" formControlName="exactValue" type="number" matInput placeholder="Exact Value">
                </mat-form-field>
                <mat-form-field >
                    <mat-label for="start">Imdb Rating Start:</mat-label>
                    <input id="start" formControlName="start" type="number" matInput placeholder="Imdb Rating Start">
                </mat-form-field>
                <mat-form-field >
                    <mat-label for="end">Imdb Rating End:</mat-label>
                    <input id="end" formControlName="end" type="number" matInput placeholder="Imdb Rating End">
                </mat-form-field>
                <button mat-button color="primary" type="submit">Add Filter</button>
            </form>
            <form [formGroup]="imdbRatingsCountFilterForm" (ngSubmit)="addFilter()" *ngIf="selectedFilter == 'ImdbRatingsCount'">
                <mat-form-field *ngIf="filters.length!=0" appearance="fill" >
                    <mat-label>FilterOperator</mat-label><br>
                    <mat-select formControlName="filterOperator" panelClass="example-panel-black">
                        <mat-option *ngFor="let filterOperator of filterOperators; let i=index" 
                        [value]="i+1">{{filterOperator}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field >
                    <mat-label for="exactValue">Exact Value:</mat-label>
                    <input id="exactValue" formControlName="exactValue" type="number" matInput placeholder="Exact Value">
                </mat-form-field>
                <mat-form-field >
                    <mat-label for="start">Ratings Count Start:</mat-label>
                    <input id="start" formControlName="start" type="number" matInput placeholder="Ratings Count Start">
                </mat-form-field>
                <mat-form-field >
                    <mat-label for="end">Ratings Count End:</mat-label>
                    <input id="end" formControlName="end" type="number" matInput placeholder="Ratings Count End">
                </mat-form-field>
                <button mat-button color="primary" type="submit">Add Filter</button>
            </form>
            <form [formGroup]="releaseDateFilterForm" (ngSubmit)="addFilter()" *ngIf="selectedFilter == 'ReleaseDate'">
                <mat-form-field *ngIf="filters.length!=0" appearance="fill" >
                    <mat-label>FilterOperator</mat-label><br>
                    <mat-select formControlName="filterOperator" panelClass="example-panel-black">
                        <mat-option *ngFor="let filterOperator of filterOperators; let i=index" 
                        [value]="i+1">{{filterOperator}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Exact Value:</mat-label>
                    <input matInput id="exactValue" formControlName="exactValue" placeholder="Exact Value"
                    [matDatepicker]="picker1">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Start:</mat-label>
                    <input matInput id="start" formControlName="start" placeholder="Start Value"
                    [matDatepicker]="picker2">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>End:</mat-label>
                    <input matInput id="end" formControlName="end" placeholder="Exact Value"
                    [matDatepicker]="picker3">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
                <button mat-button color="primary" type="submit">Add Filter</button>
            </form>
        </td>
        <td style="float: right;">
            <button mat-flat-button color="primary" (click)="searchButtonClick()">Search</button><br><br>
        </td>
    </tr>
</table>
<table>
    <tr>
        <td *ngFor="let filter of filters; let i = index">
            {{filter.ToString()}} 
            <button *ngIf='filter' mat-mini-fab (click)="deleteFilter(i)" color="primary" aria-label="Delete This Filter">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
        <td style = "float: right;" *ngIf="filters.length > 0">
            <button mat-flat-button color="warn" (click)="clearFilters()">Clear All Filters</button>
        </td>
    </tr>
</table>
<mat-spinner *ngIf="!films"></mat-spinner>
  <mat-grid-list cols="10" rowHeight="1:2">
            <mat-grid-tile
                *ngFor="let film of films">
                <mat-grid-tile-header>
                    <button mat-mini-fab *ngIf="!film.haveSeen"
                        (click)="addToWatch(film)" 
                        title="Mark as Watched">
                            <mat-icon>visibility</mat-icon>
                    </button>
                    <button mat-mini-fab *ngIf="film.haveSeen"
                            (click)="openWatchHistory(film)" 
                            title="View Watched History">
                                <mat-icon>history</mat-icon>
                    </button>
                    <button mat-mini-fab *ngIf="!film.wantToSee"
                        (click)="addToWantToWatch(film)" 
                        title="Watch Later">
                            <mat-icon>watch_later</mat-icon>
                    </button>
                    <button mat-mini-fab *ngIf="film.wantToSee"
                        (click)="removeFromWantToWatch(film)" 
                        title="Remove from Watch Later">
                            <mat-icon>not_interested</mat-icon>
                    </button>
                    <button mat-mini-fab *ngIf="!film.isFavorite"
                        (click)="addToFavorite(film)" 
                        title="Add To Favorites">
                            <mat-icon>favorite_border</mat-icon>
                    </button>
                    <button mat-mini-fab *ngIf="film.isFavorite"
                        (click)="removeFromFavorite(film)" 
                        title="Remove from Favorites">
                            <mat-icon>favorite</mat-icon>
                    </button>
                </mat-grid-tile-header>
            <a [routerLink]="['/film', film.id]">
                  <img class="film-image" 
                    [src]="'data:image/png;base64,' + film.photo?.image" 
                    [title]="film.name" 
                    onerror="this.src='assets/DefaultMovie.png'">
            </a>
            <mat-grid-tile-footer style="display: block; height: 70px"> 
                <div class="imdb-rating">
                        <a target="_blank" *ngIf="film.imdbPageUrl; else onlyLogo" href="{{film.imdbPageUrl}}">
                            <img class="imdb-logo" src="assets/ImdbLogo.png">
                        </a>
                        <ng-template #onlyLogo><img class="imdb-logo" src="assets/ImdbLogo.png"></ng-template>
                        <div *ngIf="film.imdbRating">
                            <span>{{film.imdbRating}}</span>
                            <span>{{' ('+film.imdbUserRatingsCount+') '}}</span>
                        </div>
                </div>
                <div *ngIf="film.myRating!=0">My Rating: {{film.myRating}}</div>
                <div>{{film.name}}({{getYear(film.releaseDate)}})</div>
            </mat-grid-tile-footer>
            </mat-grid-tile>
        </mat-grid-list>
<!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
<!-- Pagination directive -->
<mat-paginator [hidden]="!films" [pageSize]="50" (page)="pageEvent = pageChanged($event)"
    [pageSizeOptions]="[25, 50, 75, 100]" showFirstLastButtons></mat-paginator>