<span>Watched Films</span>
<div>
    <button mat-mini-fab *ngIf="!editMode"
        title="Edit"
        (click)="editMode=true">
            <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab *ngIf="editMode"
        title="View Mode"
        (click)="editMode=false">
            <mat-icon>pageview</mat-icon>
    </button>
    <button mat-mini-fab *ngIf="editMode"
        (click)="fileInput.click()"
        title="Import from Excel File">
            <mat-icon>import_export</mat-icon>
    </button>
    <input hidden (change)="onFileSelected()" #fileInput type="file" id="file"
    accept="csv">
    <mat-progress-bar *ngIf="showImportProgress"  [value]="importPercentage"></mat-progress-bar>
</div>
<div id="add-items" *ngIf="editMode">
    <div id="add-film-item">
        <mat-form-field>
            <input matInput
            #filmInput 
            placeholder="Choose Existed Film"
            [formControl]="filmsCtrl"
            [matAutocomplete]="autoForFilms">
            <mat-icon>search</mat-icon>
        </mat-form-field>    
        <mat-autocomplete #autoForFilms="matAutocomplete" (optionSelected)="selectedFilm($event)">
            <mat-option *ngFor="let film of filteredFilms | async"
                [value]="film">
                <img class="film-image" 
                [src]="'data:image/png;base64,' + film.photo?.image" 
                [alt]="film.photo?.title" 
                onerror="this.src='assets/DefaultMovie.png'">
                {{film.name}}
            </mat-option>
        </mat-autocomplete>     
    </div>
</div>
<div id="items">
    Items:
    <hr>
    <mat-grid-list cols="10" rowHeight="1:2">
        <mat-grid-tile class="list-item-tile" [ngStyle]="{'cursor': editMode ? 'move' : 'pointer'}"
            *ngFor="let item of items; let i = index">
                    <mat-grid-tile-header *ngIf="editMode">
                        <button mat-mini-fab
                                (click)="openWatchHistory(item)" 
                                title="View Watched History">
                                    <mat-icon>history</mat-icon>
                        </button>
                        <button mat-mini-fab
                        [title]="'Remove '+item.name"
                        (click)="removeItem(item)">
                            <mat-icon>remove</mat-icon>
                        </button>
                    </mat-grid-tile-header>
                    <img 
                    [src]="'data:image/png;base64,' + item.photo?.image" 
                    [title]="item.name"
                    (click)="onClickItem(item)"
                    onerror="this.src='assets/DefaultMovie.png'">
                    <mat-grid-tile-footer>
                        <span>{{item.name}}</span>
                    </mat-grid-tile-footer>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<mat-paginator [hidden]="!items" [pageSize]="50" (page)="pageEvent = pageChanged($event)"
    [pageSizeOptions]="[50, 100, 125, 150]" showFirstLastButtons></mat-paginator>
