<h1>Persons</h1>
<p>Here's a list of persons: feel free to play with it.</p>
<p *ngIf="!persons"><em>Loading...</em></p>
<h4>Filter</h4>
<table>
    <tr>
        <td style="width: 200px;">
            <mat-form-field appearance="fill" class="mat-form">
                <mat-label>Filter</mat-label><br>
                <mat-select [(value)]="selectedFilter" 
                    (selectionChange)="filterChanged($event.value)" panelClass="example-panel-black">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let filter of filterNames" [value]="filter">{{filter}}</mat-option>
                </mat-select>
            </mat-form-field>
        </td>
        <td>
            <form [formGroup]="idFilterForm" (ngSubmit)="addFilter()" *ngIf="selectedFilter == 'Id'">
                <mat-form-field *ngIf="filters.length!=0" appearance="fill" class="mat-form">
                    <mat-label>FilterOperator</mat-label><br>
                    <mat-select formControlName="filterOperator" panelClass="example-panel-black">
                        <mat-option *ngFor="let filterOperator of filterOperators; let i=index" 
                        [value]="i+1">{{filterOperator}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="mat-form">
                    <mat-label for="id">Id:</mat-label>
                    <input id="id" formControlName="id" type="number" matInput placeholder="Id Value Here">
                </mat-form-field>
                <button mat-button color="primary" type="submit">Add Filter</button>
            </form>
            <form [formGroup]="nameFilterForm" (ngSubmit)="addFilter()" *ngIf="selectedFilter == 'Name'">
                <mat-form-field *ngIf="filters.length!=0" appearance="fill" class="mat-form">
                    <mat-label>FilterOperator</mat-label><br>
                    <mat-select formControlName="filterOperator" panelClass="example-panel-black">
                        <mat-option *ngFor="let filterOperator of filterOperators; let i=index" 
                        [value]="i+1">{{filterOperator}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="mat-form">
                    <mat-label for="value">Exact Name:</mat-label>
                    <input id="value" formControlName="value" matInput>
                </mat-form-field>
                <mat-form-field class="mat-form">
                    <mat-label for="pattern">Name Contains:</mat-label>
                    <input id="pattern" formControlName="pattern" matInput>
                </mat-form-field>
                <button mat-button color="primary" type="submit">Add Filter</button>
            </form>
            <form [formGroup]="ageFilterForm" (ngSubmit)="addFilter()" *ngIf="selectedFilter == 'Age'">
                <mat-form-field *ngIf="filters.length!=0" appearance="fill" class="mat-form">
                    <mat-label>FilterOperator</mat-label><br>
                    <mat-select formControlName="filterOperator" panelClass="example-panel-black">
                        <mat-option *ngFor="let filterOperator of filterOperators; let i=index" 
                        [value]="i+1">{{filterOperator}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="mat-form">
                    <mat-label for="value">Exact Age:</mat-label>
                    <input id="value" formControlName="value" type="number" matInput placeholder="Age Value Here">
                </mat-form-field>
                <mat-form-field class="mat-form">
                    <mat-label for="start">Start Age:</mat-label>
                    <input id="start" formControlName="start" type="number" matInput placeholder="Age Value Here">
                </mat-form-field>
                <mat-form-field class="mat-form">
                    <mat-label for="end">End Age:</mat-label>
                    <input id="end" formControlName="end" type="number" matInput placeholder="Age Value Here">
                </mat-form-field>
                <button mat-button color="primary" type="submit">Add Filter</button>
            </form>
            <form [formGroup]="genderFilterForm" (ngSubmit)="addFilter()" *ngIf="selectedFilter == 'Gender'">
                <mat-form-field *ngIf="filters.length!=0" appearance="fill" class="mat-form">
                    <mat-label>FilterOperator</mat-label><br>
                    <mat-select formControlName="filterOperator" panelClass="example-panel-black">
                        <mat-option *ngFor="let filterOperator of filterOperators; let i=index" 
                        [value]="i+1">{{filterOperator}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="mat-form">
                    <mat-label>Gender:</mat-label><br>
                    <mat-select formControlName="gender" panelClass="example-panel-black">
                        <mat-option *ngFor="let gender of genders; let i=index" 
                        [value]="i">{{gender}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-button color="primary" type="submit">Add Filter</button>
            </form>
            <form [formGroup]="zodiacSignFilterForm" (ngSubmit)="addFilter()" *ngIf="selectedFilter == 'ZodiacSign'">
                <mat-form-field *ngIf="filters.length!=0" appearance="fill" class="mat-form">
                    <mat-label>FilterOperator</mat-label><br>
                    <mat-select formControlName="filterOperator" panelClass="example-panel-black">
                        <mat-option *ngFor="let filterOperator of filterOperators; let i=index" 
                        [value]="i+1">{{filterOperator}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="mat-form">
                    <mat-label>Zodiac Sign:</mat-label><br>
                    <mat-select formControlName="sign" panelClass="example-panel-black">
                        <mat-option *ngFor="let sign of zodiacSigns; let i=index" 
                        [value]="i">{{sign}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-button color="primary" type="submit">Add Filter</button>
            </form>
        </td>
        <td style="float: right;">
            <button mat-flat-button color="primary" (click)="searchButtonClick()">Search</button><br><br>
        </td>
    </tr>
</table>
<table>
    <tr>
        <td *ngFor="let filter of filters; let i = index">
            {{filter.ToString()}} 
            <button *ngIf='filter' mat-mini-fab (click)="deleteFilter(i)" color="primary" aria-label="Delete This Filter">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
        <td style = "float: right;" *ngIf="filters.length > 0">
            <button mat-flat-button color="warn" (click)="clearFilters()">Clear All Filters</button>
        </td>
    </tr>
</table>
<mat-spinner *ngIf="!persons"></mat-spinner>
<table matSort (matSortChange)="sortChanged($event)">
    <tr>
        <th mat-sort-header = "id">ID</th>
        <th>Photo</th>
        <th mat-sort-header = "name">Name</th>
        <th>Sex</th>
        <th mat-sort-header = "age">Age</th>
        <th>ZodiacSign</th>
        <th  mat-sort-header="birthDate">BirthDate</th>
        <th>BirthPlace</th>
        <th mat-sort-header="heightInMeters">HeightInMeters</th>
        <th>AwardsInformationString</th>
    </tr>
    <tr *ngFor="let person of persons">
        <td>{{person.id}}</td>
        <td>
            <img [src]="person.profilePicture.imdbPageUrl" *ngIf="person.profilePicture" [alt]="person.profilePicture.title" style="width: 20%;">
        </td>
        <td>
            <a [routerLink]="['/person', person.id]">{{person.name}}</a>
        </td> 
        <td>{{person.sex}}</td>
        <td>{{person.age}}</td>
        <td>{{person.zodiacSign}}</td>
        <td>{{person.birthDate}}</td>
        <td>{{person.birthPlace}}</td>
        <td>{{person.heightInMeters}}</td>
        <td>{{person.awardsInformationString}}</td>
    </tr>  
</table>
<!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
<!-- Pagination directive -->
<mat-paginator [hidden]="!persons" [pageSize]="10" (page)="pageEvent = pageChanged($event)"
    [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>