<h1 mat-dialog-title>Sorting {{data.itemName}}s With Merge Sort</h1>
<mat-dialog-content>
    <span *ngIf="!finishedSorting">Which {{data.itemName}} You Prefer?</span>
    <div *ngIf="!finishedSorting; else finishedMessage" class="two-items">
        <div>
            <img class="image-item"
                (click)="firstItemClick()"
                [src]="'data:image/png;base64,' + firstList[selectedFirstListIndex].photo?.image" 
                [title]="firstList[selectedFirstListIndex].photo?.title"
                (error)="setDefaultPhoto($event)">
            <span>{{firstList[selectedFirstListIndex].itemName}}</span>
        </div>
        <h1>VS</h1>
        <div>
            <img class="image-item"
                (click)="secondItemClick()"
                [src]="'data:image/png;base64,' + secondList[selectedSecondListIndex].photo?.image" 
                [title]="secondList[selectedSecondListIndex].photo?.title"
                (error)="setDefaultPhoto($event)">
            <span>{{secondList[selectedSecondListIndex].itemName}}</span>
        </div>
    </div>
    <ng-template #finishedMessage>
        <span>You have finshed Sorting! Click save to save your sorted list.(Will not be saved in Database)</span>
    </ng-template>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCloseClick()">Close</button>
  <button mat-button *ngIf="finishedSorting" [mat-dialog-close]="model" cdkFocusInitial>Save</button>
</mat-dialog-actions>