<header>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>DvlFilms</span>
    <button mat-icon-button style="margin-left: 50px;">
      <span [routerLink]="['/films']">Films</span>
    </button>
    <button mat-icon-button style="margin-left: 50px;">
      <span [routerLink]="['/persons']">Persons</span>
    </button>
    <button mat-icon-button style="margin-left: 50px;">
      <span [routerLink]="['/lists']">Lists</span>
    </button>
    <span class="example-spacer"></span>
      <button *ngIf="isAuthenticated" (click)="onLogout()" style="margin-right: 100px;" mat-icon-button>
        <span> <img class="profilePicture" 
            [src]="profilePicture" 
             onerror="this.src='assets/DefaultPersonMale.png'">{{userName}} Logout</span>
        <mat-icon>logout</mat-icon>
      </button>
      <button *ngIf="!isAuthenticated" style="margin-right: 50px;" mat-icon-button>
         <span [routerLink]="['/login']" [queryParams]="{registerMode: false}">Login</span>
        <mat-icon>login</mat-icon>
      </button>
      <button *ngIf="!isAuthenticated" style="margin-right: 50px;" mat-icon-button>
         <span [routerLink]="['/login']" [queryParams]="{registerMode: true}" >Register</span>
        <mat-icon>add_circle_outline</mat-icon>
      </button>
  </mat-toolbar>
</header>
