<h1 mat-dialog-title>{{data.title}}</h1>
<mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Add Existed Person"
        [formControl]="personsCtrl"
        [matAutocomplete]="autoForPersons">
    </mat-form-field>
    <mat-autocomplete #autoForPersons="matAutocomplete">
        <mat-option *ngFor="let person of filteredPersons | async"
            [value]="person.name">
            <img class="person-image" 
            [src]="'data:image/png;base64,' + person.profilePicture?.image" 
            [alt]="person.profilePicture?.title" 
            (error)="setDefaultProfilePicture($event, person)">
            {{person.name}}
        </mat-option>
    </mat-autocomplete>
    <div id="profilePicture">
        <img class="profilePicture"
        [src]="'data:image/png;base64,' + model?.profilePicture?.image" 
        [alt]="model?.profilePicture?.title"
        onerror="this.src='assets/DefaultPersonMale.png'">
    </div>
    <div style="margin-left: 20px;">
        <div id="photo-things">
            <button mat-mini-fab 
                (click)="fileInput.click()"
                *ngIf="!model"
                title="Choose Photo">
                    <mat-icon>add</mat-icon>
            </button>
            <input hidden (change)="onFileSelected()" #fileInput type="file" id="file"
            accept="image/x-png,image/gif,image/jpeg">
            <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput [value]="model?.profilePicture?.title">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Profile Picture Imdb Url</mat-label>
                <input matInput [value]="model?.profilePicture?.imdbPageUrl">
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
</mat-dialog-actions>