<h1 mat-dialog-title>{{data.personName}} Awards</h1>
<mat-dialog-content>
        <table matSort *ngIf="awardResults; else loading" >
        <tr>
            <th mat-sort-header = "festivalName">Festival Name</th>
            <th mat-sort-header = "awardName">Award Name</th>
            <th mat-sort-header = "result">Result</th>
            <th mat-sort-header = "details">Details</th>
        </tr>
        <tr *ngFor="let awardResult of awardResults">
            <td>{{awardResult.festivalName}}</td>
            <td>{{awardResult.awardName}}</td>
            <td>{{awardResult.result}}</td>
            <td>
                <div *ngFor="let det of awardResult.resultDetails">
                    <h1>{{det.achievment}}</h1>
                        <a *ngIf="det.filmItem" target="_blank" 
                                href="{{det.filmItem.imdbPageUrl}}" >{{det.filmItem.name}}</a>
                <div *ngFor="let people in det.sharedWithPeople">
                        <a [routerLink]="['/person', people.id]">{{people.name}}</a>
                        <h3 *ngIf="people.description">{{people.description}}</h3>
                </div>
                </div>
            </td>
        </tr>  
    </table>
    <ng-template #loading>
        <mat-spinner></mat-spinner>
    </ng-template>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>