<h1 mat-dialog-title>{{data.filmName}} Another Names</h1>
<mat-dialog-content>
  <button *ngIf="data.editMode && !showNewAnotherName" mat-mini-fab
        title="Show Form"
        (click)="showNewAnotherName=true">
            <mat-icon>add</mat-icon>
  </button>     
  <div *ngIf="showNewAnotherName" id="newAnotherName">
      <mat-form-field>
        <mat-select [(ngModel)]="newAnotherName.country.id">
          <mat-option *ngFor="let country of countries" [value]="country.id">
            {{country.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="newAnotherName.name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="newAnotherName.description">
      </mat-form-field>
      <button mat-mini-fab
        title="Add"
        (click)="addAnotherName()">
            <mat-icon>add</mat-icon>
      </button>  
  </div>
  <div *ngFor="let anotherName of anotherNames">
    <p *ngIf="!data.editMode; else edit">{{anotherName.country.name}}: {{anotherName.name}}
      <span *ngIf="anotherName.description"> ({{anotherName.description}})</span>
    </p>
    <ng-template #edit>
      <mat-form-field>
        <mat-select [(value)]="anotherName.country.id">
          <mat-option *ngFor="let country of countries" [value]="country.id">
            {{country.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [value]="anotherName.name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput [value]="anotherName.description">
      </mat-form-field>
       <button mat-mini-fab
        title="Remove"
        (click)="removeAnotherName(anotherName)">
            <mat-icon>remove</mat-icon>
       </button>
    </ng-template>
  </div>
  <mat-spinner *ngIf="loading"></mat-spinner>
</mat-dialog-content>
<mat-dialog-actions>
   <button mat-button (click)="onCloseClick()">Close</button>
   <button mat-button *ngIf="data.editMode" [mat-dialog-close]="anotherNames" cdkFocusInitial>Save</button>
</mat-dialog-actions>
