
  .mat-form {
    background-color: black;
    color: white;
  }

  .matInput{
    color: black;
  }

.mat-tab-group {
  margin-bottom: 48px;
}

.mat-card-header-text {
  margin-left: 0;
}

.mat-card-title {
  font-size: 13px;
  text-align: left;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.imdb-logo{
  width: 30px;
  height: 22px;
  margin-right: 10px;
  cursor: pointer;
}

.imdb-rating {
  display: flex;
}

.cast {
  display: flex;
}

.cast-image {
  width: 120px;
  height: 160px;
  margin: 5px 0px;
}

.cast-card {
  width: 120px;
  cursor: pointer;
  margin-right: 5px;
}

.cast-page-arrows {
    float: right;
}

.cast-footer{
  margin: 0px;
}

.film-genre {
  margin-right: 5px;
}

.film-country {
  margin-right: 5px;
}

.film-company {
  margin-right: 5px;
}

.film-description {
  width: 50%;
}

.film-photos {
  display: flex;
}

.film-photo {
  margin-right: 5px;
}

.poster {
    max-width: 200px;
}