
<div style="width: 100%;">
    <mat-spinner *ngIf="loading"></mat-spinner>
    <div id = "little-bios" style="display: flex;">
        <div id="little-bio" style="display: flex">
                <div id="poster">
                    <div class="builtin-lists">
                         <button mat-mini-fab *ngIf="!model.haveSeen"
                            (click)="addToWatch()" 
                            title="Mark as Watched">
                                <mat-icon>visibility</mat-icon>
                        </button>
                        <button mat-mini-fab *ngIf="model.haveSeen"
                            (click)="openWatchHistory()" 
                            title="View Watched History">
                                <mat-icon>history</mat-icon>
                        </button>
                        <button mat-mini-fab *ngIf="!model.wantToSee"
                            (click)="addToWantToWatch()" 
                            title="Watch Later">
                                <mat-icon>watch_later</mat-icon>
                        </button>
                        <button mat-mini-fab *ngIf="model.wantToSee"
                            (click)="removeFromWantToWatch()" 
                            title="Remove from Watch Later">
                                <mat-icon>not_interested</mat-icon>
                        </button>
                        <button mat-mini-fab *ngIf="!model.isFavorite"
                            (click)="addToFavorites()" 
                            title="Add To Favorites">
                                <mat-icon>favorite_border</mat-icon>
                        </button>
                        <button mat-mini-fab *ngIf="model.isFavorite"
                            (click)="removeFromFavorites()" 
                            title="Remove from Favorites">
                                <mat-icon>favorite</mat-icon>
                        </button>
                    </div>
                    <img class="poster"
                    [src]="'data:image/png;base64,' + model.photo?.image" 
                    [alt]="model.photo?.title"
                    onerror="this.src='assets/DefaultMovie.png'">
                    <div class="imdb-rating">
                        <a target="_blank" *ngIf="model.imdbPageUrl; else onlyLogo" href="{{model.imdbPageUrl}}">
                            <img class="imdb-logo" src="assets/ImdbLogo.png">
                        </a>
                        <ng-template #onlyLogo><img class="imdb-logo" src="assets/ImdbLogo.png"></ng-template>
                        <div *ngIf="model.imdbRating">
                            <span>{{model.imdbRating}}</span>
                            <span>{{' ('+model.imdbUserRatingsCount+') '}}</span>
                        </div>
                        <br>
                        <div *ngIf="model.myRating!=0">
                            <span>My Rating: </span>
                            <span>{{model.myRating}}</span>
                        </div>
                    </div>
                </div>
                <div id="little-stats">
                    <div style="margin-left: 20px;">
                        <div>
                            <h1>{{model.name}} 
                                <button mat-mini-fab 
                                        (click)="openAnotherNamesDialog()" 
                                        title="Film Another Names">
                                            <mat-icon>info</mat-icon>
                                </button>
                                <button mat-mini-fab *ngIf="editMode"
                                        (click)="openEditDialog()" 
                                        title="Edit Film">
                                            <mat-icon>edit</mat-icon>
                                </button>
                            </h1>
                            <h3 *ngIf="model.tvDescription">{{model.tvDescription}}</h3>
                        </div>
                        <div *ngIf="model.genres">
                            <button class="film-genre" *ngFor="let genre of model.genres" 
                            mat-raised-button color="primary">{{genre.name}}</button>
                        </div>
                        <div *ngIf="model.description" class="film-description">
                            {{model.description}}
                        </div>
                        <div *ngIf="model.releaseDate">
                            <mat-label>Release Date: {{formatDate(model.releaseDate)}}</mat-label>
                        </div>
                        <div *ngIf="model.countries">
                            <mat-label>Countries: </mat-label>
                            <button class="film-country" *ngFor="let country of model.countries" 
                                mat-stroked-button color="primary">{{country.name}}</button>
                        </div>
                        <div *ngIf="model.companies">
                            <mat-label>Companies: </mat-label>
                            <button class="film-company" *ngFor="let company of model.companies" 
                                mat-stroked-button color="primary">{{company.name}}</button>
                        </div>
                        <div *ngIf="model.tagline">
                            <mat-label>Tagline: </mat-label>
                            <mat-label>{{model.tagline}}</mat-label>
                        </div>
                        <div *ngIf="model.durationInMinutes">
                            <mat-label>Duration: </mat-label>
                            <mat-label>{{model.durationInMinutes}} minutes</mat-label>
                        </div>
                        <div *ngIf="model.boxOffice" style="display: flex;">
                            <div *ngIf="model.boxOffice.budget">
                                <mat-label>Budget: </mat-label>
                                <mat-label>{{model.boxOffice.budget}}</mat-label>
                            </div>
                            <div *ngIf="model.boxOffice.gross" style="margin-left: 20px;">
                                <mat-label>Gross: </mat-label>
                                <mat-label>{{model.boxOffice.gross}}</mat-label>
                            </div>
                            <div *ngIf="model.boxOffice.openingWeekend" style="margin-left: 20px;">
                                <mat-label>Opening Weekend: </mat-label>
                                <mat-label>{{model.boxOffice.openingWeekend}}</mat-label>
                            </div>
                        </div> 
                        <div id="awards" style="display: flex">
                            <span id="model-awards">
                                Award Information: {{model.awardsInformationString}}
                            </span>
                            <button mat-mini-fab 
                                    (click)="openAwardsDialog()" 
                                    title="Detailed Awards Information">
                                        <mat-icon>info</mat-icon>
                            </button>
                            <!-- <div id="fetched-awards" *ngIf="fetched" style="margin-left: 100px;">
                                <mat-label>Award Information: </mat-label>
                                <h1>{{fetched.awardsInformationString}}</h1>
                            </div> -->
                        </div>
                </div>
                </div>
        </div>
        </div>
    <!-- <button mat-flat-button *ngIf="editMode" color="primary" type="submit">Save</button> -->
    
    <div style="display: flex;">
        <div *ngIf="model.directors">
            <span>Directors: </span>
            <div class="cast"> 
                <mat-card 
                class="cast-card"
                *ngFor="let director of model.directors"
                [routerLink]="director.filmPersonId ? ['/person/'+director.filmPersonId] : []"
                [queryParams]="{flmCatName: 'director'}">
                    <img   
                    class="cast-image"
                    [src]="director.profilePicture?.imdbPageUrl" 
                        [title]="director.name"
                        (error)="setDefaultPersonPhoto($event, director)">
                    <mat-card-footer class="cast-footer">
                        <mat-card-title>{{director.name}}</mat-card-title>
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>
        <div *ngIf="model.writers">
            <span>Writers: </span>
            <div class="cast">
                    <mat-card *ngFor="let writer of model.writers"
                    class="cast-card" 
                    [routerLink]="writer.filmPersonId ? ['/person/'+writer.filmPersonId] : []"
                    [queryParams]="{flmCatName: 'writer'}">
                        <img  
                            class="cast-image"
                            [src]="writer.profilePicture?.imdbPageUrl" 
                            [title]="writer.name"
                            (error)="setDefaultPersonPhoto($event, writer)">
                        <mat-card-footer class="cast-footer">
                            <mat-card-title>{{writer.name}}</mat-card-title>
                        </mat-card-footer>
                    </mat-card>
            </div>
        </div> 
        <div *ngIf="cast">
            <!-- <span style="margin-left: 45px;">Cast: </span> -->
            <div style="display: inline-table; width: 100%;">
                <div style="float: left">Cast 
                    <button mat-mini-fab 
                        (click)="openCastAndCrewDialog()" 
                        title="All Cast And Crew">
                            <mat-icon>info</mat-icon>
                    </button>
                </div>
                <div class="cast-page-arrows">
                    <button mat-mini-fab [disabled]="leftCastArrowDisabled" 
                    (click)="castPageArrowClicked(false)">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                    </button>
                    <span>{{castCurrPage + 1}}/{{castPagesLength}}</span>
                    <button mat-mini-fab [disabled]="rightCastArrowDisabled" 
                    (click)="castPageArrowClicked(true)">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </div>
            </div>
            <div class="cast">
                <mat-card *ngFor="let castMember of cast" class="cast-card"
                [routerLink]="castMember.personId ? ['/person/'+castMember.personId] : []">
                    <img class="cast-image"
                        [src]="'data:image/png;base64,' + castMember.profilePicture?.image" 
                        [title]="castMember.name"
                        (error)="setDefaultProfilePicture($event, castMember)">
                    <mat-card-footer class="cast-footer">
                        <mat-card-title>{{castMember.name}}</mat-card-title>
                        <hr>
                        <mat-card-subtitle *ngFor="let character of castMember.characters">
                            <a *ngIf="character.imdbPageUrl; else chOnlyName" target="_blank" href="{{character.imdbPageUrl}}">
                                {{character?.name}}
                            </a>
                            <ng-template #chOnlyName>{{character?.name}}
                                <p *ngIf="character.description"> ({{character.description}})</p>
                            </ng-template>
                        </mat-card-subtitle>
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>
    </div>
    <div id="photos" *ngIf="model.photos" style="display: block;">
        <span>Photos: 
            <button mat-mini-fab 
                (click)="openPhotosDialog()"
                title="More Photos">
                    <mat-icon>info</mat-icon>
            </button>
        </span>
        <div class="film-photos">
            <div *ngFor="let photo of model.photos" class="film-photo">
                            <img [src]="'data:image/png;base64,' + photo?.image" 
                            [title]="photo?.title"
                            style="max-width: 200px;">
            </div>
        </div>   
    </div>
</div>
