  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .mat-form {
    background-color: black;
    color: white;
  }

  .matInput{
    color: black;
  }

  .film-item-image {
      width: 182px;
      height: 268px;
  }

  .profile-photo-image {
      width: 214px;
      height: 317px;
  }

  .person-biography {
    width: 50%;
  }

  .person-photos {
    width: 100%;
    display: flex;
  }

  .person-photo {
    margin-right: 5px;
  }