
<div style="width: 100%;">
    <div id = "little-bios" style="display: flex;">
        <div id="little-bio" style="display: flex">
                <div id="profilePicture">
                        <!-- <mat-form-field appearance="fill"> -->
                            <img class="profile-photo-image"
                            [src]="'data:image/png;base64,' + model.profilePicture?.image" 
                            *ngIf="model.profilePicture" 
                            [title]="model.profilePicture.title"
                            (error)="setDefaultProfilePicture($event)">
                        <!-- </mat-form-field> -->
                    <button mat-mini-fab *ngIf="!model.isFavorite"
                        (click)="addToFavorites()" 
                        title="Add To Favorites">
                            <mat-icon>favorite_border</mat-icon>
                    </button>
                    <button mat-mini-fab *ngIf="model.isFavorite"
                        (click)="removeFromFavorites()" 
                        title="Remove from Favorites">
                            <mat-icon>favorite</mat-icon>
                    </button>
                </div>
                <div id="little-stats">
                    <div style="margin-left: 20px;">
                        <div>
                                <h1>{{model.name}} 
                                <button *ngIf="model.alternateNames && model.alternateNames.length > 0" mat-mini-fab 
                                    (click)="openAlternateNamesDialog()" 
                                    title="Person Alternate Names">
                                        <mat-icon>info</mat-icon>
                                </button>
                                <button mat-mini-fab *ngIf="editMode"
                                        (click)="openEditDialog()" 
                                        title="Edit Film">
                                            <mat-icon>edit</mat-icon>
                                </button>
                            </h1>
                        </div>
                        <div>
                            <a target="_blank" href="{{model.imdbPageUrl}}">Visit Imdb Page</a>
                        </div>
                        <div *ngIf="model.biographyString" class="person-biography">
                            {{model.biographyString}}
                        </div>
                        <br>
                        <div *ngIf="model.sex">
                            <mat-label>Sex: </mat-label>
                            <mat-label>{{gender2StringMapping[model.sex]}}</mat-label>
                        </div>
                        <div *ngIf="model.birthDate">
                            <span>Birth: {{formatDate(model.birthDate)}} (Age {{model.age}}) 
                                <span *ngIf="model.birthPlace">in {{model.birthPlace}}</span>
                            </span>
                        </div> 
                        <div *ngIf="model.zodiacSign">
                            <mat-label>Zodiac Sign: {{model.zodiacSign}}</mat-label>
                        </div>
                        <div *ngIf="model.deathDate">
                            <span>Death: {{formatDate(model.deathDate)}} 
                                <span *ngIf="model.deathPlace">in {{model.deathPlace}}</span>
                            </span>
                        </div>
                        <div *ngIf="model.heightInMeters">
                            <mat-label>Height: {{model.heightInMeters}}m</mat-label>
                        </div>
                        <div *ngIf="model.otherWork">
                            <mat-label>Other Work: {{model.otherWork}}</mat-label>
                        </div>
                </div>
                </div>
        </div>
    </div>
    <div id="awards" style="display: flex">
        <div id="model-awards" style="float:left">
            <mat-label>Award Information: </mat-label>
            <div style="display: inline;">
                <h1>{{model.awardsInformationString}}</h1>
            </div>
        </div>
        <button mat-mini-fab 
                (click)="openAwardsDialog()" 
                title="Detailed Awards Information">
                    <mat-icon>info</mat-icon>
        </button>
    </div>
    <div id="photos" *ngIf="model.photos" style="display: block">
            <span>Photos: 
                    <button mat-mini-fab 
                    (click) = "openPhotosDialog()"
                    title="More Photos">
                        <mat-icon>info</mat-icon>
                </button>
            </span>
        <div class="person-photos">
            <div *ngFor="let photo of model.photos" class="person-photo">
                            <img [src]="'data:image/png;base64,' + photo?.image" 
                            [title]="photo?.title"
                            style="max-width: 200px;">
            </div>
        </div>   
    </div>
    <div *ngIf="filmographies"  style="width: 100%; margin-top: 50px; display: inline-table">
        <div style="float: left">
            <h1>Movies:</h1>
        </div>
        <!-- dropdown for filmography Categories -->
        <div id="categories-dropdown"style="float: right; margin-left: 25px">
            <mat-form-field appearance="fill" >
                <mat-label>Filmography Category:</mat-label>
                <mat-select panelClass="example-panel-black" (selectionChange)="loadFilmItems()" [(value)]="selectedFilmographyCatName">
                    <mat-option *ngFor="let categoryName of filmographyCategoryNames" [value]="categoryName">
                        {{categoryName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- Dropdown for filmography Sorting -->
        <div id="sorting-dropdown" style="float: right;">
            <img [src] = "sortAscending ? 'assets/AscendingIcon.png' : 'assets/DescendingIcon.png'"
            (click) = "sortingChanged()" style="width: 25px;">
            <mat-form-field appearance="fill" >
                <mat-label>Sort By:</mat-label>
                <mat-select panelClass="example-panel-black" (selectionChange)="loadFilmItems()" [(value)]="selectedFlmSortBy">
                    <mat-option *ngFor="let sortChoice of sortChoicesForFilms" [value]="sortChoice">
                        {{sortChoice}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <!-- Filmographies Grid-List -->
    <div *ngIf="filmographies" style="margin-top: 25px;">
        <mat-grid-list cols="10" rowHeight="1:2">
            <mat-grid-tile
                *ngFor="let filmography of filmographies">
            <a [routerLink]="filmography.filmItem?.id ? ['/film', filmography.filmItem?.id] : []">
                <img class="film-item-image" 
                [src]="'data:image/png;base64,' + filmography.filmItem?.photo?.image" 
                [title]="filmography.filmItem?.photo?.title"
                onerror="this.src='assets/DefaultMovie.png'">
            </a>
            <mat-grid-tile-footer style="display: block; height: 70px">
                <div>{{filmography.filmItem?.name}}({{filmography.year}})</div>
                <div *ngFor="let character of filmography.characters">
                    <div *ngIf="character.imdbPageUrl; else justCharName">
                        <a  target="_blank" 
                        href="{{character.imdbPageUrl}}">
                            {{character.name}}
                        </a>
                    </div>
                    <ng-template #justCharName>
                        <mat-label *ngFor="let character of filmography.characters">{{character.name}}</mat-label>
                    </ng-template>
                </div>
            </mat-grid-tile-footer>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <mat-spinner *ngIf="!filmographies"></mat-spinner>
</div>