<h1>Persons</h1>
<p>Here's a list of persons: feel free to play with it.</p>
<p *ngIf="!persons"><em>Loading...</em></p>
<h4>Filter</h4>
<table>
    <tr>
        <td style="width: 200px;">
            <mat-form-field appearance="fill" >
                <mat-label>Filter</mat-label><br>
                <mat-select [(value)]="selectedFilter" 
                    (selectionChange)="filterChanged($event.value)" panelClass="example-panel-black">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let filter of filterNames" [value]="filter">{{filter}}</mat-option>
                </mat-select>
            </mat-form-field>
        </td>
        <td>
            <form [formGroup]="idFilterForm" (ngSubmit)="addFilter()" *ngIf="selectedFilter == 'Id'">
                <mat-form-field *ngIf="filters.length!=0" appearance="fill" >
                    <mat-label>FilterOperator</mat-label><br>
                    <mat-select formControlName="filterOperator" panelClass="example-panel-black">
                        <mat-option *ngFor="let filterOperator of filterOperators; let i=index" 
                        [value]="i+1">{{filterOperator}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field >
                    <mat-label for="id">Id:</mat-label>
                    <input id="id" formControlName="id" type="number" matInput placeholder="Id Value Here">
                </mat-form-field>
                <button mat-button color="primary" type="submit">Add Filter</button>
            </form>
            <form [formGroup]="nameFilterForm" (ngSubmit)="addFilter()" *ngIf="selectedFilter == 'Name'">
                <mat-form-field *ngIf="filters.length!=0" appearance="fill" >
                    <mat-label>FilterOperator</mat-label><br>
                    <mat-select formControlName="filterOperator" panelClass="example-panel-black">
                        <mat-option *ngFor="let filterOperator of filterOperators; let i=index" 
                        [value]="i+1">{{filterOperator}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field >
                    <mat-label for="value">Exact Name:</mat-label>
                    <input id="value" formControlName="value" matInput>
                </mat-form-field>
                <mat-form-field >
                    <mat-label for="pattern">Name Contains:</mat-label>
                    <input id="pattern" formControlName="pattern" matInput>
                </mat-form-field>
                <button mat-button color="primary" type="submit">Add Filter</button>
            </form>
            <form [formGroup]="ageFilterForm" (ngSubmit)="addFilter()" *ngIf="selectedFilter == 'Age'">
                <mat-form-field *ngIf="filters.length!=0" appearance="fill" >
                    <mat-label>FilterOperator</mat-label><br>
                    <mat-select formControlName="filterOperator" panelClass="example-panel-black">
                        <mat-option *ngFor="let filterOperator of filterOperators; let i=index" 
                        [value]="i+1">{{filterOperator}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field >
                    <mat-label for="value">Exact Age:</mat-label>
                    <input id="value" formControlName="value" type="number" matInput placeholder="Age Value Here">
                </mat-form-field>
                <mat-form-field >
                    <mat-label for="start">Start Age:</mat-label>
                    <input id="start" formControlName="start" type="number" matInput placeholder="Age Value Here">
                </mat-form-field>
                <mat-form-field >
                    <mat-label for="end">End Age:</mat-label>
                    <input id="end" formControlName="end" type="number" matInput placeholder="Age Value Here">
                </mat-form-field>
                <button mat-button color="primary" type="submit">Add Filter</button>
            </form>
            <form [formGroup]="genderFilterForm" (ngSubmit)="addFilter()" *ngIf="selectedFilter == 'Gender'">
                <mat-form-field *ngIf="filters.length!=0" appearance="fill" >
                    <mat-label>FilterOperator</mat-label><br>
                    <mat-select formControlName="filterOperator" panelClass="example-panel-black">
                        <mat-option *ngFor="let filterOperator of filterOperators; let i=index" 
                        [value]="i+1">{{filterOperator}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field >
                    <mat-label>Gender:</mat-label><br>
                    <mat-select formControlName="gender" panelClass="example-panel-black">
                        <mat-option *ngFor="let gender of genders" 
                        [value]="gender">{{gender2StringMapping[gender]}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-button color="primary" type="submit">Add Filter</button>
            </form>
            <form [formGroup]="zodiacSignFilterForm" (ngSubmit)="addFilter()" *ngIf="selectedFilter == 'ZodiacSign'">
                <mat-form-field *ngIf="filters.length!=0" appearance="fill" >
                    <mat-label>FilterOperator</mat-label><br>
                    <mat-select formControlName="filterOperator" panelClass="example-panel-black">
                        <mat-option *ngFor="let filterOperator of filterOperators; let i=index" 
                        [value]="i+1">{{filterOperator}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field >
                    <mat-label>Zodiac Sign:</mat-label><br>
                    <mat-select formControlName="sign" panelClass="example-panel-black">
                        <mat-option *ngFor="let sign of zodiacSigns; let i=index" 
                        [value]="i">{{sign}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-button color="primary" type="submit">Add Filter</button>
            </form>
        </td>
        <td style="float: right;">
            <button mat-flat-button color="primary" (click)="searchButtonClick()">Search</button><br><br>
        </td>
    </tr>
</table>
<table>
    <tr>
        <td *ngFor="let filter of filters; let i = index">
            {{filter.ToString()}} 
            <button *ngIf='filter' mat-mini-fab (click)="deleteFilter(i)" color="primary" aria-label="Delete This Filter">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
        <td style = "float: right;" *ngIf="filters.length > 0">
            <button mat-flat-button color="warn" (click)="clearFilters()">Clear All Filters</button>
        </td>
    </tr>
</table>
<mat-spinner *ngIf="!persons"></mat-spinner>
  <mat-grid-list cols="10" rowHeight="1:2">
            <mat-grid-tile
                *ngFor="let person of persons">
            <mat-grid-tile-header>
                <button mat-mini-fab *ngIf="!person.isFavorite"
                        (click)="addToFavorites(person)" 
                        title="Add To Favorites">
                            <mat-icon>favorite_border</mat-icon>
                    </button>
                    <button mat-mini-fab *ngIf="person.isFavorite"
                        (click)="removeFromFavorites(person)" 
                        title="Remove from Favorites">
                            <mat-icon>favorite</mat-icon>
                    </button>
            </mat-grid-tile-header>
            <a [routerLink]="['/person', person.id]">
                    <img class="person-image" 
                        [src]="'data:image/png;base64,' + person.profilePicture.image" 
                        *ngIf="person.profilePicture" 
                        [alt]="person.name" 
                        (error)="setDefaultProfilePicture($event, person)">
            </a>
            <mat-grid-tile-footer style="display: block; height: 100px; line-height: 1.2;"> 
                <div>{{person.name}} ({{gender2StringMapping[person.sex]}})</div>
                <hr>
                <div *ngIf="person.birthDate" style="font-size: 9pt;"> 
                    <span>Birth: {{formatDate(person.birthDate)}} ({{person.age}}, {{person.zodiacSign}}) 
                                <span *ngIf="person.birthPlace">in {{person.birthPlace}}</span>
                    </span>
                </div>
                <div *ngIf="person.heightInMeters" style="font-size: 9pt;">Height: {{person.heightInMeters}}m</div>
            </mat-grid-tile-footer>
            </mat-grid-tile>
        </mat-grid-list>
<!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
<!-- Pagination directive -->
<mat-paginator [hidden]="!persons" [pageSize]="50" (page)="pageEvent = pageChanged($event)"
    [pageSizeOptions]="[25, 50, 75, 100]" showFirstLastButtons></mat-paginator>