<div>
    <mat-label>Photos: </mat-label>
    <div *ngIf="photos; else loading" fxLayout="row wrap">
        <ng-container *ngFor="let photo of photos">
            <img  class="person-item-image" 
                    [src]="photo?.image" 
                    [title]="photo?.title"
                    style="max-width: 200px;"
                    onerror="this.src='assets/DefaultPersonMale.png'">
        </ng-container>
    </div>
    <ng-template #loading>
        <mat-spinner></mat-spinner>
    </ng-template>
    <mat-paginator [length]="photosCount"
                    [pageSize]="50" 
                    (page)="pageChanged($event)"
                    [pageSizeOptions]="[50, 100, 150]"
                    showFirstLastButtons>
    </mat-paginator>
</div>